
<div id="nav-icon3" class='clicked'>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
</div>
<div id="navWindow">
  <ul class="navText">
    <li><%= link_to "Home", root_path, class: 'navLink' %></li>
    <li><%= link_to "Portfolio", works_path, class: 'navLink' %></li>
    <li class="aboutNav navLink"><h3>About</h3></li>
    <li class="contactNav navLink"><h3>Contact</h3></li>
    <li class='navLink'><a href="#"><h3>Blog</h3></a></li>
  </ul>
</div><!--
--><div id="navIconBackground"></div>