<%if @project == nil %>
  <div class="projectDescription">
    <h3 class="projectTitle">
      Project Not Found!
    </h3>
    <p class="projectText">
      Sorry buddy, maybe you got this projects name wrong? Make sure to check the URL for capitals or spaces (there shouldn't be any).
    </p>
  </div>
<% else %> 
  <div class='projectJumbotron'>
    <img src="images/work/alexJumbotron.jpg" alt="#"/>
  </div>
  <div class="projectDescription">
    <h3 class="projectTitle">
      <%= @project.name %>
    </h3>
    <p class="projectText">
      Glorium Ipdana sfj wugp word glorp to the ate sixteen flop on the other side of the wall, so then we crushed and clorped and poured molding for a movie cat stink and sfd gow gqjjsh lqplcjb fkgqhoqg dkfkaghaigr bjdfihqgoqlsgk.
    </p>
  </div>
  <!-- layout for 3 vertical detail pics -->
  <div class="projectThreeDetails">
       <img  src="images/work/alexDetail2.jpg" alt="#"/><!--
    --><img  src="images/work/alexDetail1.jpg" alt="#"/><!--
    --><img  src="images/work/alexDetail3.jpg" alt="#"/>
  </div>
  <!-- for 2 half width detail shots
  <div class ="projectTwoDetails">
    <img  src="#" alt="#"/>
    <img  src="#" alt="#"/>
  </div>-->
  <div class="projectInfo">
    <h3>PROJECT</h3>
    <h2>#Project name</hh2>
    <h3>CLIENT</h4>
    <h2>#Client Name</h2>
    <h3>PROCESSES</h3>
    <h2>#Fabrication, Molding, Etc.</h2>
  </div>
  <div class="projectNav">
    <p>
      <a href='#'>&#8592;Prev</a>
      - <a href='feastWork.html'>All Projects</a> -
      <a href='#'>Next&#8594;</a>
    </p>
  </div>
<% end %>