/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

// ========RESET=======

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
// ======== Personal CSS ====
body {
  position: relative;
  overflow-x: hidden;
  background-color: #222; 
  font-family: 'Lato', Helvetica, Arial, sans-serif;
}

#bodyColumn {
  width: 100%;
  overflow: hidden;
  min-width: 800px;
}

h3{
  font-size: 24pt;
  font-weight: 100;
  color: #f8f8f8;
}

a{
  text-decoration: none;
}

p { 
  color: #999;
  font-size: 20px;
  font-weight: 300;
}

hr {
  border: none;
  height: 1px;
  background: #999;
}

@font-face {
  font-family: 'MKfont';
  src: font-url('mortalkombat1.ttf');
  src: font-url('mortalkombat1.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/*======= NAV BAR ======*/

#navWindow{
  width: 100%;
  height: 75px;
  background: rgba(0,0,0,0.5);
  position: fixed;
  z-index: 2;
  left: -100%;
}

#navIconBackground {
  width: 75px;
  height: 75px;
  position: fixed;
  left: 0;
  z-index: 2;
  background: rgba(0,0,0,0.5);
}

.navText{
  width: 100%;
  min-width: 600px;
  text-align: center;
  position: fixed;
  li {
    margin: auto auto;
    display: inline-block;
    padding: 0 2.5%;
    text-align: center;
    vertical-align: middle;
    line-height: 75px;
  }
}


.navLink {
    color: #f8f8f8;
    font-size: 24pt;
    font-weight: 100;
    padding: 0 auto;
  }


#nav-icon3 {
  width: 48px;
  height: 36px;
  position: fixed;
  margin: 19px 13px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .20s ease-in-out;
  -moz-transition: .20s ease-in-out;
  -o-transition: .20s ease-in-out;
  transition: .20s ease-in-out;
  z-index: 3;
  cursor: pointer;
  span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #f8f8f8;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .20s ease-in-out;
    -moz-transition: .20s ease-in-out;
    -o-transition: .20s ease-in-out;
    transition: .20s ease-in-out;
  }
  span:nth-child(1) {
    top: 0px;
  }
  span:nth-child(2), span:nth-child(3) {
    top: 16px;
  }
  span:nth-child(4) {
    top: 32px;
  }
}

#nav-icon3.open {
  span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
}


// ==== FOOTER ====


#footer {
  background: #f8f8f8;
  height: 50px;
  width: 100%;
  clear: both;
}

.footerText{
  width: 100%;
  min-width: 600px;
  text-align: center;
}

.footerLink, .footerLink a{
    height: 50px;
    margin: 0 auto;
    display: inline-block;
    padding: 0 2.5%;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    color: #222;
    text-decoration: none;
    white-space: nowrap;
}

// ======

.spacer {
  height: 50px;
}