// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*RESET*/
/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

@import "bootstrap-sprockets";
@import "bootstrap";

.help-block {
  font-size: 14px;
}

.reveal-jumbo-active {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transform: scale(0.8);
  transition: 0.5s;
  input[id="choice-jumbotron-details"]:checked ~ & {
    opacity: 1;
    max-height: 500px;
    overflow: visible;
    padding: 10px 20px;
    transform: scale(1);
  }
}
.reveal-half-active {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transform: scale(0.8);
  transition: 0.5s;
  input[id="choice-half-details"]:checked ~ & {
    opacity: 1;
    max-height: 500px;
    overflow: visible;
    padding: 10px 20px;
    transform: scale(1);
  }
}
.reveal-half-square-active {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transform: scale(0.8);
  transition: 0.5s;
  input[id="choice-half-square-details"]:checked ~ & {
    opacity: 1;
    max-height: 500px;
    overflow: visible;
    padding: 10px 20px;
    transform: scale(1);
  }
}
.reveal-thirds-active {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transform: scale(0.8);
  transition: 0.5s;
  input[id="choice-thirds-details"]:checked ~ & {
    opacity: 1;
    max-height: 500px;
    overflow: visible;
    padding: 10px 20px;
    transform: scale(1);
  }
}

.reveal-video-active {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transform: scale(0.8);
  transition: 0.5s;
  input[id="choice-video"]:checked ~ & {
    opacity: 1;
    max-height: 500px;
    overflow: visible;
    padding: 10px 20px;
    transform: scale(1);
  }
}